.message-header-section{
    border: 1px solid gray;
    border-radius: 5px;
    box-shadow: 30px;
    height: 10%;
    padding:0% 1%;
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 5;
}

.message-body-section{
    height: 83.5%;
    border-left: 1px solid gray;
    border-right: 1px solid gray;

 }

 .message-footer-section{
    
 }

 .message-container{
    height: 100%;
    border-radius: 5px;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
 }

 .chat-container {
   display: flex;
   flex-direction: column;
   overflow-y: auto;
   height: 73vh;
 }
  
 .sender-class {
   align-self: flex-end;
   background-color: #e1ffc7; 
   padding: 10px;
   border-radius: 10px;
   max-width: fit-content;
   margin: 10px 0;
 }
 
 .receiver-class {
   align-self: flex-start;
   background-color: #eaf7ff; 
   padding: 10px;
   border-radius: 10px;
   max-width: fit-content;
   margin: 10px 0;
 }
 

.message-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5px;
  gap: 50px;
  color: #1976d2;
}

.message-date {
  font-size: 0.8em;
  color: #888;

}

.message-body {
  white-space: pre-wrap;
  word-wrap: break-word;
}